
/*What are we doing*/

.examples{
    padding-top: 94px;
    padding-bottom: 94px;


&-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

&-image{
    flex-basis: calc((100%-2*30px) / 3);
}

&-ul{
    display: flex;
    gap: 30px;
}

&-head{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-text-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
}

&-head-wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
}

&-products{
    position: relative;
    display: block;
}
}